<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>net.belaire.nasa_apod_desktop</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/theobelaire/github/nasa-apod-desktop/nasa_apod_desktop.py</string>
  </array>
 
  <key>Debug</key>
    <true/>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartCalendarInterval</key>
  <dict>
      <key>Hour</key>
      <integer>6</integer>
  </dict>

  <key>RunAtLoad</key>
  <true/>

  <key>StandardErrorPath</key>
  <string>/tmp/nasa_apod.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/nasa_apod.out</string>
</dict>
</plist>
